.card {
  background-color: #ffffff; 
  border: none;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 25%;
  margin: 10px;
  transition: transform 0.2s ease-in-out;
  margin-top: 80px;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card-img-top {
    object-fit: cover;
    height: 200px;
    max-height: 250px;
    border-radius: 4px;
  }

  .card-body {
    padding: 1rem;

    .card-title {
      font-family: monospace;
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    .card-text {
      font-size: 1.2rem;
      font-weight: bold;
      color: #555;
    }

    button {
      min-width: 20%;
      padding: 10px;
      margin: 3px;
      border-radius: 10px;
      font-weight: bold;
      font-family: monospace;
    }

    .ver{
      background-color: rgba(126, 133, 40, 0.726);
    }

    .ocultar{
      background-color: rgba(70, 52, 52, 0.726);
    }
    .favorita{
      background-color: rgba(128, 49, 95, 0.726);
    }
  }
}
:host {
  display: block;
  width: 100%;
}

.card:hover{
  transform: scale(1.02);
}


@media (max-width: 768px) {
  .card{background-color: #ffffff; 
  border: none;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 80%;
  margin: 10px;
  transition: transform 0.2s ease-in-out;
  margin-top: 80px;}
  
}