
.navbar {
  font-family: monospace;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  padding: 10px;
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  transition: background 0.3s ease-in-out;
  text-align: right;
  height: 60px;
}


/* Logo */
.navbar-brand {
  margin-right: auto;
  font-size: 2rem;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  

  &:hover {
    color: #ffcc00; 
  }
}

.navbar-nav {
  display: flex;
  gap: 20px;
  list-style: none;
  padding-left: 0;
  padding: 20px;
  margin-left: auto; 
  font-size: large;
}

.nav-link {
  font-size: 1.5rem;
  color: white;
  font-weight: 500;
  text-decoration: none;
  text-transform: capitalize;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: #ffcc00;
    text-decoration: solid;
  }
}
.disabled-link {
  pointer-events: none; 
  opacity: 0.5; 
  cursor: default; 
  text-decoration: none;
}

//menu burger
.navbar-toggler {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  align-items: center;
}

.navbar-toggler .bar {
  width: 25px;
  height: 4px;
  background-color: white;
  border-radius: 5px;
}

//ligas del menu
.navbar-links-mobile {
  display: none;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  background: #333;
  padding: 20px;
  text-align: center;
}

.navbar-links-mobile a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: capitalize;
}

@media (max-width: 768px) {
  .navbar-nav {
    display: none; 
  }

  .navbar-toggler {
    display: flex;
  }

  .navbar-links-mobile {
    display: flex; 
  }

  .navbar-links-mobile a {
    font-size: 1.5rem;
  }
}

.recorrer{
  text-align: right;
}
