
body {
  background-color: rgb(26, 23, 23);
  background-image: url('assets/logo/MovieLogo.jpg'); 
  background-size: 20%; 
  background-position: center; 
  height: 100%; /* Asegura que el body y el html ocupen el 100% de la altura */
  margin: 0; /* Elimina márgenes por defecto */
  display: flex; /* Usamos flexbox */
  flex-direction: column; /* Organizamos los elementos de manera vertical */
}

/* Estilos para los inputs */
.inputsUser {
  width: 100%;
  padding: 1rem; /* Padding más grande */
  font-size: 1rem; /* Aumenta el tamaño del texto */
  border-radius: 10px; /* Bordes redondeados */
  background-color: #fdf6e3; /* Fondo claro para inputs */
}

/* Estilo para la clase loginRecordar */
.loginRecordar {
  font-size: 0.9rem;
  color: #333;
}

/* Otros estilos globales (si es necesario) */
p {
  color: rgb(2, 20, 20);
}

