
<footer class="footer">
    <div class="footer-content">
      <!-- Cerrar sesión -->
      <div class="footer-section">
        <button (click)="logout()">Cerrar sesión</button>
      </div>
  
      <!-- GitHub del desarrollador c;-->
      <div class="footer-section">
        <a href="https://github.com/tu-usuario" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-github"></i> GitHub
        </a>
      </div>
  
      <!-- LinkedIn del desarrollador c;-->
      <div class="footer-section">
        <a href="https://www.linkedin.com/in/tu-perfil" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-linkedin"></i> LinkedIn
        </a>
      </div>
    </div>
  </footer>
  